group QuestdbEventStore
    source https://api.nuget.org/v3/index.json
    storage:none
    nuget FSharp.Core content: none, framework: net6.0

group Server
    source https://api.nuget.org/v3/index.json
    storage:none
    nuget FSharp.Core content: none, framework: net6.0
    nuget Microsoft.Extensions.Configuration framework: net6.0
    nuget Microsoft.Extensions.Configuration.FileExtensions framework: net6.0
    nuget Microsoft.Extensions.Configuration.Json framework: net6.0
    nuget Microsoft.Extensions.Configuration.EnvironmentVariables framework: net6.0
    nuget FsPickler framework: net6.0
    nuget Argu framework: net6.0
    nuget NLog framework: net6.0
    nuget NATS.Client framework: net6.0
    nuget Npgsql framework: net6.0
    nuget Polly framework: net6.0

group Contracts
    source https://api.nuget.org/v3/index.json
    storage:none
    nuget FSharp.Core content: none, framework: net6.0

group ThinLayer
    source https://api.nuget.org/v3/index.json
    storage:none
    nuget FSharp.Core content: none, framework: net6.0
    nuget Npgsql framework: net6.0
    
group Client
    source https://api.nuget.org/v3/index.json
    storage:none
    nuget FSharp.Core content: none, framework: net6.0
    nuget FsPickler framework: net6.0
    nuget NLog framework: net6.0